:root {
    --lt-text-color:                    #212121;
    --lt-white-color:                   #ffffff;
    --lt-very-light-gray-color:         #fefefe;
    --lt-light-gray-color:              #e4e4e4;
    --lt-gray-color:                    #b4b4b4;
    --lt-dark-gray-color:               #6a6a6a;
    --lt-very-dark-gray-color:          #454545;
    --lt-brand-blue-color:              #037dc7;
    --lt-brand-red-color:               #e74040;
    --lt-bg-gradient-start-color:       #5091dd;
    --lt-bg-gradient-end-color:         #030617;
    --lt-header-gradient-start-color:   #3b679e;
    --lt-header-gradient-middle1-color: #2b88d9;
    --lt-header-gradient-middle2-color: #207cca;
    --lt-header-gradient-end-color:     #7db9e8;
    --lt-theme-switcher-sun-color:      #ff8300;
    --lt-theme-switcher-moon-color:     #037dc7;
    --lt-logo-color:                    #037dc7;
    --lt-input-color:                   #212121;
    --lt-input-background-color:        white;
    --lt-nav-color:                     #fefefe;
    --lt-nav-active-color:              #037dc7;
    --lt-nav-background-color:          #fefefe;
    --lt-aside-nav-background-color:    rgba(231, 64, 64,   .07);
    --lt-carousel-text-color:           #fefefe;
    --lt-infobar-text-color:            #fefefe;
    --lt-related-background-color:      #037dc7;
    --lt-tags-color:                    rgba(3, 125, 199,   .6);
    --lt-tags-count-color:              rgba(3, 125, 199,   .3);
    --lt-separator-color:               rgba(180, 180, 180, .2);
    --lt-active-button-color:           #fefefe;
    --lt-button-border-color:           rgba(3, 125, 199,   .2);
    --lt-button-background-color:       transparent;
    --lt-active-button-border-color:    rgba(3, 125, 199,   .3);
    --lt-bullet-color:                  rgba(3, 125, 199,   .6);
    --lt-light-blue-shadow-color:       rgba(3, 125, 199,   .03);
    --lt-light-red-shadow-color:        rgba(231, 64, 64,   .03);
    --lt-light-gray-shadow-color:       rgba(33, 33, 33,    .03);
    --lt-entry-meta-background-color:   rgba(3, 125, 199,   .07);
    --lt-blockquote-background-color:   rgba(3, 125, 199,   .1);
    --lt-tldr-color:                    #212121;
    --lt-tldr-background-color:         rgba(231, 64, 64,   .07);
    --lt-wpcf7-invalid-color:           #ffb900;
    --lt-wpcf7-sent-color:              #46b450;
}