.newyear-theme {

    #sticky-nav::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background: url(assets/images/newyear/stickynav-bg.png) 0 0 repeat-x;
        height: 100%;
        content: '';
        display: block;
    }

    article.hentry:first-of-type::before,
    article.hentry:not(:last-of-type)::after {
        background-image: url(assets/images/newyear/lights.svg);
        height: 60px;
        background-repeat: no-repeat;
        background-position: 50% 0;
        opacity: .7;
    }

}