.pagination {
    text-align: center;

    .page-numbers {
        text-decoration: none;
        border: 1px solid var(--lt-button-border-color);
        border-radius: 5px;
        padding: 10px 15px;
        display: inline-block;
        margin-top: 21px;
        transition: border-color .3s $ease-out-quartic, box-shadow .3s $ease-out-quartic;

        &:not(.current) {

            @include hover-active() {
                color: var(--lt-brand-red-color);
                background: var(--lt-button-background-color);
                border-color: var(--lt-active-button-border-color);
                box-shadow: inset 0 0 9px var(--lt-light-blue-shadow-color);
            }

        }
    }
}