.post-image {
    display: block;
    margin-bottom: 2.4rem;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
        vertical-align: top;
        transform: scale(1.0);
    }
}

.post-image-center,
.post-image-left,
.post-image-right {
    .post-image {
        max-width: 100%;
        margin-bottom: 1em;
    }
}

.post-image-left .post-image,
.post-image-right .post-image {
    @include respond-to('aussie') {
        max-width: 50%;
        margin-bottom: 0;
    }
}

.post-image-left .post-image {
    @include respond-to('aussie') {
        float: left;
        margin-right: 1em;
    }
}

.post-image-right .post-image {
    @include respond-to('aussie') {
        float: right;
        margin-left: 1em;
    }
}

.rellax-image {
    position: relative;
    overflow: hidden;

    .rellax,
    .rellax-overlay {
        position: absolute;
        top: 0;
        left: 0;

        & > img {
            vertical-align: top;
        }
    }

    .rellax-overlay {
        position: relative;
        opacity: 0;
    }
}