ul.post-categories,
ul.post-categories li {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.post-categories {
    display: flex;
    flex-wrap: wrap;
    font-size: $font-size-small;
}

ul.post-categories li {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px 5px 0;
    background: var(--lt-blue-color);

    @include undecorated-link(var(--lt-white-color), var(--lt-white-color));

    &::before {
        display: none;
    }
}