.post-sticky-icon {
    background-color: var(--lt-white-color);
    display: block;
    color: var(--lt-amber-color);
    margin: -20px auto 0;
    width: 120px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & > .stars {
        display: inline-block;
    }

    svg {
        margin: 0 2.5px;
    }
}
