.entry-content {
    display: flex;
}

.post-content,
.post-image {
    flex-basis: 50%;
    flex-direction: row;

    .singular & {
        flex-direction: column;
    }
}

.post-image {
    display: block;
    max-width: 100%;
    margin-bottom: 1em;

    > img {
        width: 100%;
        height: auto;
        vertical-align: top;
    }
}

.post-image-left,
.post-image-right {

    .post-image,
    .post-content {
        flex-basis: 100%;

        @include respond-to('aussie') {
            flex-basis: 50%;
            margin-bottom: 0;
        }
    }

}

.post-image-left .post-image {
    @include respond-to('aussie') {
        float: left;
        margin-right: 1em;
    }
}

.post-image-right .post-image {
    @include respond-to('aussie') {
        float: right;
        margin-left: 1em;
    }
}
