.post-image {
    display: block;
    margin-bottom: 2.4rem;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: auto;
        vertical-align: top;
        transform: scale(1.0);
    }

    .attribution {
        display: block;
        font-size: $font-size-very-small;
        position: absolute;
        bottom: 10px;
        left: 0;
        padding: 10px;
        background: var(--lt-attribution-background-color);
        color: var(--lt-attribution-color);
        pointer-events: none;
        text-shadow: 1px 1px 2px var(--lt-very-dark-gray-color);
    }
}

.post-image-center,
.post-image-left,
.post-image-right {
    .post-image {
        max-width: 100%;
        margin-bottom: 1em;
    }
}

.post-image-left .post-image,
.post-image-right .post-image {
    @include respond-to('aussie') {
        max-width: 50%;
        margin-bottom: 0;
    }
}

.post-image-left .post-image {
    @include respond-to('aussie') {
        float: left;
        margin-right: 1em;
    }
}

.post-image-right .post-image {
    @include respond-to('aussie') {
        float: right;
        margin-left: 1em;
    }
}

.rellax-image {
    position: relative;
    overflow: hidden;

    .rellax,
    .rellax-overlay {
        position: absolute;
        top: 0;
        left: 0;

        & > img {
            vertical-align: top;
        }
    }

    .rellax-overlay {
        position: relative;
        opacity: 0;
    }
}