.entry-content {
    margin-top: 2.4rem;
    @extend .clearfix;
}

.post-content {
    p > a:not(.more-link),
    & > ul a,
    & > ol a {
        @extend .popup-link;
    }

    p.has-vivid-red-background-color,
    p.has-dark-blue-background-color {
        @include link(var(--lt-nav-color), var(--lt-tldr-color)) {
            @extend .popup-link;
            background-image: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,0) 50%,var(--lt-nav-color) 51%);
            border-bottom-color: var(--lt-nav-color);
        }
    }
}

.entry-meta, .entry-title {
    margin-bottom: .5em;
}

.entry-title {
    @include link(var(--lt-blue-color), var(--lt-text-color));
}

.entry-meta {
    display: flex;
    align-items: center;
    background: var(--lt-entry-meta-background-color);
    padding: 10px 5px;
    color: var(--lt-blue-color);
    font-size: $font-size-medium;
    @include undecorated-link;

    > span {
        padding: 0 7px;

        &:not(:first-of-type) {
            border-left: 1px solid var(--lt-light-gray-color);
        }
    }

    .comments-link {
        display: none;
    }

    @include respond-to('corgi') {
        .comments-link {
            display: inline;
        }
    }
}

.hentry {
    /* Top separator */
    @at-root body:not(.single):not(.page) .hentry:first-of-type::before {
        @extend .separator;
        margin-top: 4.8rem;
    }

    /* Bottom separator */
    @at-root body:not(.single) .hentry:not(:last-of-type)::after {
        @extend .separator;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 1rem;
        font-weight: $font-weight-semi;
        line-height: 1.25em;
        letter-spacing: -0.0125em;
    }

    .entry-title,
    h1 {
        font-size: $font-size-very-large;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    h2.entry-title {
        margin-top: 2.4rem;
    }

    @include respond-to('aussie') {
        .entry-title,
        h1 {
            font-size: 2em;
            margin-bottom: 2.4rem;
        }
    }

    h2 {
        font-size: 2.0rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h4, h5, h6 {
        font-size: 1.54rem;
    }

    hr {
        @extend .separator;
        border: 0 none;
    }

    ul, ol {
        margin: 0;
        padding-left: 2.5rem;
        list-style: none;
        margin-bottom: 2.4rem;
        line-height: 1.5;
    }

    ol li,
    ul li {
        padding: 5px 20px;
        position: relative;

        &:before {
            @extend .bullet-large;
        }
    }

    p {
        margin-top: 0;
        margin-bottom: 2.4rem;
        line-height: 1.5;
    }

    .tldr,
    em {
        background: var(--lt-tldr-background-color);
        padding: 0 3px;
        color: var(--lt-tldr-color);
        font-style: normal;
    }

    strong {
        text-decoration: none;
        border-bottom: 3px solid var(--lt-blue-color);
        padding: 0px 3px;
        font-weight: normal;
    }

    > figure {
        margin: 0;
        margin-bottom: 2.4rem;
    }

    blockquote {
        border-left-width: 5px;
        border-left-style: solid;
        border-color: var(--lt-blue-color);
        padding: 1.3rem 0 1.3rem 1.8rem;
        margin-bottom: 1.7rem;
        background: var(--lt-blockquote-background-color);
        font-style: italic;

        p {
            margin: 0;
        }
    }
}

.entry-footer {
    display: flex;
    justify-content: flex-end;
    color: var(--lt-gray-color);
    font-size: $font-size-small;

    > span,
    > a {
        margin: 0 5px;
    }

    svg {
        margin-right: 5px;
    }

    @include undecorated-link(var(--lt-gray-color));
}