.sidebar-widget:first-of-type {
    padding: 0;
	max-height: 0;
	visibility: hidden;
    transition: transform .3s $ease-out-quartic, max-height .3s $ease-out-quartic;

    iframe {
        transition: transform .3s $ease-out-quartic;
        transform: translateY(-100%);
    }
}

.vk-widget-complete .sidebar-widget:first-of-type {
	max-height: 300px;
	visibility: visible;

    iframe {
        transform: translateY(0);
    }
}
