#home-slides {
    margin: 10px 0;
    overflow: hidden;
}

#home-slides {
    .owl-carousel {
        .item-photo {
            overflow: hidden;

            img {
                margin-left: 50%;
                transform: translateX(-50%);
                width: auto;
                height: 350px;

                @include respond-to('aussie') {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .title-card {
            position: absolute;
            padding: 10px;
            z-index: z('carousel-control');
            bottom: 0;
            right: 0;
            font-size: $font-size-small;
            line-height: 1.5;
            color: var(--lt-carousel-text-color);
            text-align: right;
            text-shadow: 1px 1px 2px var(--lt-light-gray-shadow-color);
            background: linear-gradient(90deg, transparent 0%, rgba(black, 0.58) 100%);
        }

        .author {
            display: block;
        }
    }

    div.owl-dots {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: z('carousel-control');
        padding: 5px 10px;
        display: none;

        @include respond-to('corgi') {
            display: block;
        }

        @include respond-to('labrador') {
            right: initial;
        }
    }

    button.owl-dot span {
        background: transparent;
        width: 14px;
        height: 14px;
        border: 2px solid var(--lt-white-color);
    }

    button.owl-dot.active span::after {
        width: 6px;
        height: 6px;
        display: block;
        border-radius: 50%;
        content: '';
        background: var(--lt-white-color);
        @include center();
    }
}

#home-sponsors {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;

    .owl-carousel {
        flex: 0 0 75%;
        width: 75%;
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;

        @include respond-to('podenco') {
            padding: 1.2rem;
        }

        .item {
            width: 120px;
            height: 45px;
            margin: 0 auto;
        }

        .item a > img {
            transition: transform .3s $ease-out-quartic;
        }

        .item a:hover > img {
            transform: scale(105%);
        }
    }
}

.sponsor-us {
    border-top-width: 1px;
    border-top-style: solid;
    text-align: center;
    padding: 5px;
    font-size: $font-size-very-small;
    line-height: 2.2rem;
}

.sponsors-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

    @include respond-to('podenco') {
        flex-direction: row;
    }
}

.sponsors-title {
    font-size: $font-size-large;
    flex: 1 0 25%;
    text-align: right;
}
