.venue-selector {
    text-align: center;

    select {
        width: 300px;
        margin: 2.4rem auto;
    }
}

#venues-map {
    width: 100%;
    height: 600px;
    margin: 4.8rem 0;
}

#venues-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;

    header ::selection {
        color: var(--lt-blue-color);
        background: var(--lt-white-color);
    }
}

.venue-item {
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 10px;
    margin-bottom: 30px;

    @include respond-to('aussie') {
        flex-basis: 50%;
        max-width: 50%;
    }

    @include respond-to('labrador') {
        flex-basis: 33.333%;
        max-width: 33.333%;
    }

    @include respond-to('podenco') {
        flex-basis: 25%;
        max-width: 25%;
    }
}

@keyframes pulse-down-1 {

    from {
        opacity: .15;
    }

    50% {
        opacity: .3;
    }

    to {
        opacity: .15;
    }

}

@keyframes pulse-down-2 {

    from, 25% {
        opacity: .05;
    }

    50% {
        opacity: .15;
    }

    to {
        opacity: .05;
    }

}

.venue-item.loaded .placeholder {
    display: none;
}

.venue-item.loading .placeholder {

    &.primary {
        opacity: .15;
        animation: 1s pulse-down-1 infinite;
    }

    &.secondary {
        opacity: .05;
        animation: 1s pulse-down-2 infinite;
    }

    header {
        background: var(--lt-light-gray-color);
    }

    .trainer-photo {
        background: var(--lt-gray-color);
        border: 0 none;

        &::after {
            display: none;
        }
    }

    .trainer-phone,
    .trainer-social {
        width: 32px;
        height: 32px;
        background: var(--lt-gray-color);
    }

    .trainer-phone {
        width: 180px;
    }

}

.venue-item-wrap {
    height: 100%;
    padding-bottom: 20px;
    background: var(--lt-very-light-gray-color);
    border-bottom: 1px solid var(--lt-light-gray-color);

    & > header {
        position: relative;
        background: var(--lt-blue-color);
        padding: 2.4rem 0.8rem;
        border-bottom: 2px solid var(--lt-active-button-border-color);
        background-clip: padding-box;

        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
        }

        &::before {
            background: var(--lt-white-color);
            width: 30px;
            height: 30px;
            bottom: -16px;
            border: 2px solid var(--lt-active-button-border-color);
            border-radius: 50%;

        }

        &::after {
            transform: rotate(45deg);
            border-radius: 0;
            width: 10px;
            height: 10px;
            bottom: -4px;
            border-color: var(--lt-blue-color);
            border-style: solid;
            border-width: 0 1px 1px 0;
            border-bottom-color: var(--lt-active-button-border-color);
        }
    }
}

.venue-address {
    display: block;
    font-size: $font-size-very-small;
    line-height: 16px;
    height: 32px;
    color: var(--lt-white-color);
    margin: 20px 0;
    overflow: hidden;
}

.venue-distance {
    color: var(--lt-white-color);
}

h3.venue-title {
    color: var(--lt-white-color);
}

.venue-description {
    background: var(--lt-light-gray-color);
    padding: 30px;
    font-size: $font-size-small;
    color: var(--lt-dark-gray-color);
}

.trainer-item {
    text-align: left;
    margin: 10px;
    border: 1px solid var(--lt-attribution-background-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--lt-button-border-color);

    h4 {
        text-align: center;
        margin: 0;
        margin-bottom: 10px;
        color: var(--lt-white-color);
    }

    & > header {
        background: var(--lt-blue-color);
        border-radius: 10px 10px 0 0;
        padding: 15px;
    }
}

.trainer-sports {
    justify-content: center;
    font-size: $font-size-very-small;
}

.trainer-contact-info {
    background: var(--lt-light-gray-color);
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: $font-size-small;
    list-style: none;
    overflow: hidden;

    &:last-child {
        border-radius: 0 0 10px 10px;
    }
}

@keyframes vibrate {
    0%, 2%, 4%, 6%, 8%, 10%, 12%, 14%, 16%, 18% {
        transform: translate3d(-1px, 0, 0);
    }
    1%, 3%, 5%, 7%, 9%, 11%, 13%, 15%, 17%, 19% {
        transform: translate3d(1px, 0, 0);
    }
    20%, 100% {
        transform: translate3d(0, 0, 0);
    }
}

.trainer-phone,
.trainer-social {
    overflow: hidden;
    color: var(--lt-white-color);
    white-space: nowrap;
    line-height: 20px;
    padding: 6px;
    border-radius: 18px;
    flex: 0 0 auto;
    margin-left: 5px;
    margin-right: 5px;
    width: 32px;

    @include respond-to('corgi') {
        width: auto;
    }
}

.trainer-social {
    background: var(--lt-blue-color);

    @include undecorated-link(var(--lt-white-color), var(--lt-white-color));
}

.trainer-phone {
    background: var(--lt-red-color);

    @include undecorated-link(var(--lt-always-white-color), var(--lt-always-white-color));

    a {
        margin-left: 5px;
        margin-right: 5px;
    }

    svg {
        margin-right: 5px;
    }

    &:hover svg {
        animation: vibrate 2s $ease-shake infinite;
        transform: translate3d(0, 0, 0);
    }
}

.trainer-photo {
    display: block;
    width: 96px;
    height: 96px;
    overflow: hidden;
    border-radius: 50%;
    margin: 15px auto;
    border: 3px solid var(--lt-white-color);
    position: relative;
    background: transparent get_icon('logo', white, 'opacity: .75') 50% 50% no-repeat;

    & > img {
        height: 100%;
        width: auto;
        @include center();
    }

    &.portrait > img {
        height: auto;
        width: 100%;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.6);
        border-radius: 50%;
        top: 0;
        left: 0;
    }

    &.placeholder-1 {
        background-color: #ffb300;
    }

    &.placeholder-2 {
        background-color: #7cb342;
    }

    &.placeholder-3 {
        background-color: #00acc1;
    }

    &.placeholder-4 {
        background-color: #1e88e5;
    }

    &.placeholder-5 {
        background-color: #f48fb1;
    }

    &.placeholder-6 {
        background-color: #ef9a9a;
    }
}

.trainer-timetable {
    font-size: $font-size-very-small;
    padding: 10px;
    color: var(--lt-dark-gray-color);
    font-style: italic;
}

.sport-tags {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    margin: 0;
    color: var(--lt-dark-gray-color);

    & > li {
        margin: 3px;
        background: var(--lt-light-gray-color);
        padding: 2px 6px;
        border-radius: 6px;
    }
}