$sans-serif-font-stack : -apple-system, BlinkMacSystemFont, 'PT Sans', sans-serif;
$serif-font-stack      : 'PT Serif', serif;

$font-weight-normal    : 400;
$font-weight-bold      : 700;

$font-size-very-small  : 1.30rem;
$font-size-small       : 1.40rem;
$font-size-medium      : 1.54rem;
$font-size-large       : 1.80rem;
$font-size-very-large  : 2.20rem;