$sans-serif-font-stack : -apple-system, BlinkMacSystemFont, 'PT Sans', sans-serif;
$serif-font-stack      : 'Playfair Display', serif;

$font-weight-normal    : 400;
$font-weight-semi      : 500;
$font-weight-bold      : 700;

$font-size-very-small  : 1.40rem;
$font-size-small       : 1.60rem;
$font-size-medium      : 1.84rem;
$font-size-large       : 1.90rem;
$font-size-very-large  : 2.20rem;